@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model JeanPiaget.Web.Models.User.UserVM

@{
    ViewData["Title"] = "Usuario/Create";
    var roles = new List<SelectListItem>
    {
        new SelectListItem { Value = "Administrador", Text = "Administrador" },
        new SelectListItem { Value = "Direccion", Text = "Direccion" },
    };
}

@section Head {
    <link href="~/lib/jquery/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/select2.min.js"></script>
    <script src="~/views/User/Create.js"></script>
}

<br>
<div class="container">
    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header VerdeWhite">
                        <h3>Nuevo Usuario</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="Nombre">Nombre</label>
                                    <input asp-for="Nombre" type="text" class="form-control">
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Paterno">Apellido Paterno</label>
                                    <input asp-for="Paterno" type="text" class="form-control">
                                    <span asp-validation-for="Paterno" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Materno">Apellido Materno</label>
                                    <input asp-for="Materno" type="text" class="form-control">
                                    <span asp-validation-for="Materno" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="FechaNacimiento" class="form-check-label">Fecha de Nacimiento</label>
                                    <input type="text" class="form-control" asp-for="FechaNacimiento">
                                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="Genero">Género</label>
                                    <select class="form-control" asp-for="Genero" required>
                                        <option value="" selected disabled>Seleccionar género</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                    <span asp-validation-for="Genero" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Cargo">Cargo</label>
                                    <input asp-for="Cargo" type="text" class="form-control">
                                    <span asp-validation-for="Cargo" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Telefono" class="form-check-label">Télefono</label>
                                    <input type="tel" class="form-control" asp-for="Telefono">
                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Email">Email</label>
                                    <input type="text" asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="Rol">Rol</label>
                                    <select asp-for="Rol" asp-items=@roles class="form-control">
                                        <option value="" selected disabled>Seleccionar un grado</option>
                                    </select>
                                    <span asp-validation-for="Rol" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Password">Contraseña</label>
                                    <input type="password" asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="ConfirmPassword">Confirmar Contraseña</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button id="enviar" type="submit" class="btn VerdeWhite">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>