@{
    ViewData["Title"] = "Home";
}
<div class="text-center align-items-center my-auto" style="height:500px;">
    <h1 class="display-4">Bienvenido</h1>
    <img src="~/images/logo.jpg" class="img-fluid mt-5" alt="logo JenPiaget" />
</div>
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Recibo" asp-action="ImprimirPago" asp-route-pagoId="250">Generar pago</a>
    <br>
    <a asp-controller="Recibo" asp-action="ImprimirPagoHTML" asp-route-pagoId="2">Generar pago html</a>
    <br>
    <a asp-controller="Recibo" asp-action="ImprimirListaHorizontal" asp-route-gradoId="3" asp-route-tipoLista="ListadoPruebaHorizontal">Generar lista horizontal</a>
    <br>
    <a asp-controller="Recibo" asp-action="ImprimirListaVertical" asp-route-gradoId="3" asp-route-tipoLista="ListadoPruebaVertical">Generar lista vertical</a>
</div>
*@